body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  color: black;
  border-style: solid;
  border-width: 2px;
}

.select-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  color: black;
  margin: 10px;
  background-color: rgb(235, 233, 233);
}
.stocks-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  padding-bottom: 10px;
}

.search-stocks {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
}

.sort-stocks {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
}

.dropmenu-title {
  height: 20px;
  font-size: 15px;
}

.stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}

.stock-color-buy {
  background-color: rgb(153, 255, 1);
}

.stock-color-sell {
  background-color: rgb(255, 47, 0);
}

.stock-option {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
}

.stock-logo {
  display: flex;
}

.stock-detail {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: left;
  justify-content: space-between;
}

.stock-price {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

.stock-buy {
  border: 2px solid rgb(153, 255, 1);
  padding: 8px 11px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}

.stock-sell {
  border: 2px solid rgb(255, 47, 0);
  padding: 8px 11px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

.stock-cancel {
  border: none;
  padding: 0px 0px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}
.stocks-view {
  width: auto;
  height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: rebeccapurple; */
}

.swipe-box {
  position: absolute;
  bottom: 0px;
  height: 50%;
  width: 500px;
  overflow: hidden;
  /* background-color: red; */
}

.swipe-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 85%;
  position: relative;
  transition: all 0.3s ease-out;
  background: white;
  height: 100%;
}

.swipe-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0%;
  position: relative;
  transition: all 0.3s ease-out;
  background: white;
  height: 100%;
}

.swipe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

.swipe-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  width: 500px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  background-color: white;
}

.selected-stocks {
  position: relative;
  top: -350px;
  left: -6px;
  margin-bottom: -350px;
  height: 350px;
  width: 500px;
  background-color: white;
}

.swipe-portfolio-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 1px solid grey;
}

.swipe-stocks {
  width: 500px;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.buy-icon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid rgb(153, 255, 1);
}

.sell-icon {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid rgb(255, 47, 0);
}

.swipe-portfolio-stock-symbol {
  display: flex;
  align-items: left;
  width: 100px;
}

.swipe-portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe-logo-symbol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.swipe-confirm-button {
  width: 400px;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.swipe-confirm-button:disabled {
  background-color: lightgray;
}

.swipe-stocks-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  overflow-x: hidden;
}

.portfolio-box {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: auto;
}

.user-portfolio-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  margin-top: 100px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(233, 232, 232);
}
.user-portfolio-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 10px;
}
.user-portfolio-stocks {
  width: 480px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-portfolio-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.user-portfolio-pl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.user-portfolio-each-stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 50%;
}

.padding-portfolio-stocks {
  padding-left: 10px;
}

.add-stocks-floating-button {
  position: relative;
  bottom: 80px;
  width: 20px;
  margin-bottom: -80px;
  left: 180px;
  height: 20px;
}

.frame-box {
  width: 500px;
  height: 600px;
}

.stock-add-button {
  border: 2px solid black;
  padding: 10px 10px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
}

.portfolio-clicked {
  position: relative;
  top: -530px;
  margin-bottom: -500px;
  width: 500px;
  height: 530px;
  border-radius: 40px 40px 0px 0px;
  background-color: red;
}

.portfolio-clicked-innerBox {
  width: 500px;
  padding: 20px;
}

.clicked-portfolio-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio-name {
  width: 200px;
}

.portfolio-brought-price {
  width: 150px;
}

.portfolio-current-price {
  width: 150px;
}

.portfolio-change {
  width: 150px;
}

.portfolio-dismiss-button {
  width: 400px;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  background-color: black;
}
